.content
  .section.page-title.property-view.bg-overlay
    .container
      .page-title-wrapper
        %h2.captions Properties
        %ol.breadcrumb
          %li
            %a{:href => "index.html"} Home
          %li.active
            %a{:href => "#"} properties
  = render 'layouts/properties'
