#wrapper-content
  / PAGE WRAPPER
  #page-wrapper
    / MAIN CONTENT
    .main-content
      / CONTENT
      .content
        .section
          .banner-02.bg-overlay.banner-full-screen
            .banner-02-wrapper
              .row
                .container.col-xs-9.col-xs-offset-1.col-sm-12.col-sm-offset-0
                  .wrapper-title
                    %h2.title Real Estate Investing done correctly
                    %h4.sub-title
                      Offering You the Safe and Right Choice For Real Estate Investing
              .row
                .col-xs-12.mt-20
                  %p.text Yielding higher returns than the normal investment route.
                  .group-button
                    %a.btn.btn-blue{:href => "/about-vive-investments"} Learn more
                    %a.btn.btn-transparent.white{:href => "properties.html"} Contact us
        = render 'layouts/properties'
