%footer
  .bg-dark
    .hyperlink
      .container
        .pull-left.hyper-left
          %span © Designed by
          %span.name Stay Creative Design
        .pull-right.hyper-right
          %ul
            %li
              %a.link{:href => "index.html"} Home
            %li
              %a.link{:href => "#"} About us
            %li
              %a.link{:href => "#"} Become an investor
            %li
              %a.link{:href => "#"} Investor Login
            %li
              %a.link{:href => "contact.html"} Contact
            %li
              %a.link{:href => "#"} Help
