%footer
  .bg-dark
    .hyperlink
      .container
        .pull-left.hyper-left
          %span © Designed by
          %span.name Stay Creative Design
        .pull-right.hyper-right
          %ul
            %li
              %a.link{:href => "/"} Home
            %li
              %a.link{:href => "/about-vive-investments"} About us
            %li
              %a.link{:href => "/login"} Investor Login
